<!doctype html>
<html>
	<head>

	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{resume.basics.name}} 路 {{resume.basics.label}}</title>
  <meta name="description" content="{{resume.basics.summary}}">

  <meta property="og:image" content="{{resume.basics.image}}">
  <meta property="og:description" content="{{resume.basics.summary}}">
  <meta property="og:title" content="{{resume.basics.name}} 路 {{resume.basics.label}}">
  <meta name="twitter:title" content="{{resume.basics.name}} 路 {{resume.basics.label}}">
  <link rel="icon" href="{{resume.basics.image}}" type="image/x-icon">

	<style type="text/css">
	{{{css}}}
	</style>

	</head>
	<body>

  <body>
    {{!------------------------- HEADER --------------------------------------}}
    <div class="Header">
      <div class="Header-item">
        <a href="#" class="Header-link f4 d-flex flex-items-center">
          <svg height="32" class="octicon octicon-mark-github mr-2" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
          <span>{{resume.basics.name}} 路 {{resume.basics.label}}</span>
        </a>
      </div>
    </div>

    <div class="container-xl clearfix px-3 mt-4">

      {{!------------------------- PROFILE -------------------------------------}}
      <div class="h-card col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6" itemscope itemtype="http://schema.org/Person">
        <div class="clearfix">
          {{#if resume.basics.image}}
          <div class="float-left col-3 col-md-12 pr-3 pr-md-0">
            <img
              class="avatar width-full height-full avatar-before-user-status"
              src="{{resume.basics.image}}"
              alt="{{resume.basics.name}}"
            />
          </div>
          {{/if}}
          <div class="vcard-names-container float-left col-9 col-md-12 pt-1 pt-md-3 pb-1 pb-md-3">
            <h1 class="vcard-names pl-2 pl-md-0">
              <span class="p-name vcard-fullname d-block overflow-hidden">{{resume.basics.name}}</span>
              <span class="p-nickname vcard-username d-block">
                {{resume.basics.label}}
              </span>
            </h1>
          </div>
        </div>

        {{#if resume.basics.email}}
        <a
          class="btn btn-block mb-2"
          role="button"
          tabindex="0"
          href="mailto:{{resume.basics.email}}"
        >
          Contact me
        </a>
        {{/if}}
        {{#findByProperty resume.basics.profiles 'network' 'LinkedIn'}}
        <aside class="btn-link text-small muted-link mb-3">
          <a
            href="{{url}}"
            class="muted-link"
            >Join my professional network</a
          >
        </aside>
        {{/findByProperty}}

        <div class="p-note user-profile-bio">
          {{resume.basics.summary}}
        </div>

        <ul class="vcard-details mb-3">
          {{#if resume.work.length}}
          <li
            itemprop="worksFor"
            aria-label="Organization: {{resume.work.0.name}}"
            class="vcard-detail pt-1 css-truncate css-truncate-target"
          >
            <svg
              class="octicon octicon-organization"
              aria-hidden="true"
              width="16"
              height="16"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"
              />
            </svg>
            <span class="p-org">{{resume.work.0.name}}</span>
          </li>
          {{/if}}
          {{#if resume.basics.location}}
          <li
            itemprop="homeLocation"
            aria-label="Home location: {{resume.basics.location.city}}, {{resume.basics.location.countryCode}}"
            class="vcard-detail pt-1 css-truncate css-truncate-target"
          >
            <svg
              aria-hidden="true"
              class="octicon octicon-location"
              width="12"
              height="16"
              viewBox="0 0 12 16"
            >
              <path
                fill-rule="evenodd"
                d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"
              />
            </svg>
            <span>{{resume.basics.location.city}}, {{resume.basics.location.countryCode}}</span>
          </li>
          {{/if}}
          {{#if resume.basics.url}}
          <li
            itemprop="url"
            class="vcard-detail pt-1 css-truncate css-truncate-target"
          >
            <svg
              aria-label="true"
              class="octicon octicon-link"
              width="16"
              height="16"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"
              />
            </svg>
            <a rel="nofollow me" href="{{resume.basics.url}}">
              {{resume.basics.url}}
            </a>
          </li>
          {{/if}}
        </ul>

        {{#if resume.basics.profiles.length}}
        <div class="mt-3">
          <div class="border-top py-3 clearfix">
            <h2 class="h4 d-flex flex-items-start mb-1">Elsewhere</h2>
            {{#each resume.basics.profiles}}
            <a
              class="State mt-1"
              rel="nofollow"
              href="{{url}}"
            >
              {{network}}
            </a>
            {{/each}}
          </div>
        </div>
        {{/if}}

        {{#if resume.skills.length}}
        <div class="mt-3">
          <div class="border-top py-3 clearfix">
            <h2 class="h4 d-flex flex-items-start mb-1">Toolkit</h2>
            {{#each resume.skills}}
            <span
              class="State tooltipped tooltipped-s mt-1"
              aria-label="{{level}} in {{#each keywords}}{{#if @index}}, {{/if}}{{this}}{{/each}}"
              style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"
            >
              {{name}}
            </span>
            {{/each}}
          </div>
        </div>
        {{/if}}

        {{#if resume.languages.length}}
        <div class="mt-3">
          <div class="border-top py-3 clearfix">
            <h2 class="h4 d-flex flex-items-start mb-1">Languages</h2>
            {{#each resume.languages}}
            <span
              class="State tooltipped tooltipped-s mt-1"
              aria-label="{{fluency}}"
              style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"
            >
              {{language}}
            </span>
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>

      <div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">
        <nav class="UnderlineNav">
          <div class="UnderlineNav-body">
            <a href="#" title="Overview" class="UnderlineNav-item selected"
              >Overview</a
            >
            <a
              href="#experiences"
              title="Experiences"
              class="UnderlineNav-item"
              >Experiences
              <span class="Counter">{{experiencesCount resume}}</span>
            </a>
            <a href="#writing" title="Writing" class="UnderlineNav-item"
              >Writing
              <span class="Counter">{{resume.publications.length}}</span>
            </a>
          </div>
        </nav>

        {{#pinnedExperiences resume}}
          <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
            <div class="Box pinned-item-list-item d-flex p-3 width-full pinned-item-list-item-content">
              <div class="d-flex width-full flex-items-center position-relative">
                {{#isPropEqual this 'tag' 'Work'}}
                <svg width="14" height="16" class="octicon octicon-briefcase mr-2 text-gray flex-shrink-0" viewBox="0 0 14 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 4V3c0-.55-.45-1-1-1H6c-.55 0-1 .45-1 1v1H1c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1H9zM6 3h2v1H6V3zm7 6H8v1H6V9H1V5h1v3h10V5h1v4z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Award'}}
                <svg width="10" height="16" class="octicon octicon-bookmark mr-2 text-gray flex-shrink-0" viewBox="0 0 10 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 0H1C.27 0 0 .27 0 1v15l5-3.09L10 16V1c0-.73-.27-1-1-1zm-.78 4.25L6.36 5.61l.72 2.16c.06.22-.02.28-.2.17L5 6.6 3.12 7.94c-.19.11-.25.05-.2-.17l.72-2.16-1.86-1.36c-.17-.16-.14-.23.09-.23l2.3-.03.7-2.16h.25l.7 2.16 2.3.03c.23 0 .27.08.09.23h.01z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Project'}}
                <svg width="16" height="16" class="octicon octicon-beaker mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M14.38 14.59L11 7V3h1V2H3v1h1v4L.63 14.59A1 1 0 001.54 16h11.94c.72 0 1.2-.75.91-1.41h-.01zM3.75 10L5 7V3h5v4l1.25 3h-7.5zM8 8h1v1H8V8zM7 7H6V6h1v1zm0-3h1v1H7V4zm0-3H6V0h1v1z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Education'}}
                <svg width="16" height="16" class="octicon octicon-mortar-board mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8.11 2.8a.34.34 0 00-.2 0L.27 5.18a.35.35 0 000 .67L2 6.4v1.77c-.3.17-.5.5-.5.86 0 .19.05.36.14.5-.08.14-.14.31-.14.5v2.58c0 .55 2 .55 2 0v-2.58c0-.19-.05-.36-.14-.5.08-.14.14-.31.14-.5 0-.38-.2-.69-.5-.86V6.72l4.89 1.53c.06.02.14.02.2 0l7.64-2.38a.35.35 0 000-.67L8.1 2.81l.01-.01zM4 8l3.83 1.19h-.02c.13.03.25.03.36 0L12 8v2.5c0 1-1.8 1.5-4 1.5s-4-.5-4-1.5V8zm3.02-2.5c0 .28.45.5 1 .5s1-.22 1-.5-.45-.5-1-.5-1 .22-1 .5z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Volunteer'}}
                <svg width="12" height="16" class="octicon octicon-heart mr-2 text-gray flex-shrink-0" viewBox="0 0 12 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 2c-.97 0-1.69.42-2.2 1-.51.58-.78.92-.8 1-.02-.08-.28-.42-.8-1-.52-.58-1.17-1-2.2-1-1.632.086-2.954 1.333-3 3 0 .52.09 1.52.67 2.67C1.25 8.82 3.01 10.61 6 13c2.98-2.39 4.77-4.17 5.34-5.33C11.91 6.51 12 5.5 12 5c-.047-1.69-1.342-2.913-3-3z"></path></svg>
                {{else}}
                {{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}
                <a class="text-bold flex-auto min-width-0" rel="nofollow" href="{{url}}">{{name}}</a>
              </div>
              <p class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                {{summary}}
              </p>
              <p class="mb-0 f6 text-gray">
                <span class="d-inline-block mr-3">
                  <span class="repo-language-color" style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"></span>
                  <small class="f6 text-gray">{{tag}}</small>
                </span>
                {{#if org}}
                <span class="pinned-item-meta muted-link">
                  <svg
                    aria-label="organization"
                    class="octicon octicon-organization"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    role="img"
                    style="min-width: 16px"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"
                    />
                  </svg>
                  {{org}}
                </span>
                {{/if}}
                {{#if date}}
                <span class="pinned-item-meta muted-link">
                  <svg
                    aria-label="calendar"
                    class="octicon octicon-calendar"
                    width="14"
                    height="16"
                    viewBox="0 0 14 16"
                    role="img"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"
                    />
                  </svg>
                  {{date}}
                </span>
                {{/if}}
              </p>
            </div>
          </li>
        {{/pinnedExperiences}}

        {{#pinnedWritings resume}}
          <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
            <div class="Box pinned-item-list-item d-flex p-3 width-full pinned-item-list-item-content">
              <div class="d-flex width-full flex-items-center position-relative">
                <a class="text-bold flex-auto min-width-0" rel="nofollow" href="{{url}}">{{name}}</a>
              </div>
              <p class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                {{summary}}
              </p>
              <p class="mb-0 f6 text-gray">
                <span class="d-inline-block mr-3">
                  <span class="repo-language-color" style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"></span>
                  <small class="f6 text-gray">{{tag}}</small>
                </span>
                {{#if org}}
                <span class="pinned-item-meta muted-link">
                  <svg
                    aria-label="organization"
                    class="octicon octicon-organization"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    role="img"
                    style="min-width: 16px"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"
                    />
                  </svg>
                  {{org}}
                </span>
                {{/if}}
                {{#if date}}
                <span class="pinned-item-meta muted-link">
                  <svg
                    aria-label="calendar"
                    class="octicon octicon-calendar"
                    width="14"
                    height="16"
                    viewBox="0 0 14 16"
                    role="img"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"
                    />
                  </svg>
                  {{date}}
                </span>
                {{/if}}
              </p>
            </div>
          </li>
        {{/pinnedWritings}}

        {{#experiencesByMonth resume}}
          <div class="discussion-timeline width-full pb-4">
            <h3 class="profile-timeline-month-heading bg-white d-inline-block h6 pr-2 py-1">
              {{@month}} <span class="text-gray">{{@year}}</span>
            </h3>

            {{#each this}}
            <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3 js-details-container Details ">
              <span class="discussion-item-icon">
                {{#isPropEqual this 'tag' 'Work'}}
                <svg width="14" height="16" class="octicon octicon-briefcase" viewBox="0 0 14 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 4V3c0-.55-.45-1-1-1H6c-.55 0-1 .45-1 1v1H1c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1H9zM6 3h2v1H6V3zm7 6H8v1H6V9H1V5h1v3h10V5h1v4z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Award'}}
                <svg width="10" height="16" class="octicon octicon-bookmark" viewBox="0 0 10 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 0H1C.27 0 0 .27 0 1v15l5-3.09L10 16V1c0-.73-.27-1-1-1zm-.78 4.25L6.36 5.61l.72 2.16c.06.22-.02.28-.2.17L5 6.6 3.12 7.94c-.19.11-.25.05-.2-.17l.72-2.16-1.86-1.36c-.17-.16-.14-.23.09-.23l2.3-.03.7-2.16h.25l.7 2.16 2.3.03c.23 0 .27.08.09.23h.01z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Project'}}
                <svg width="16" height="16" class="octicon octicon-beaker" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M14.38 14.59L11 7V3h1V2H3v1h1v4L.63 14.59A1 1 0 001.54 16h11.94c.72 0 1.2-.75.91-1.41h-.01zM3.75 10L5 7V3h5v4l1.25 3h-7.5zM8 8h1v1H8V8zM7 7H6V6h1v1zm0-3h1v1H7V4zm0-3H6V0h1v1z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Education'}}
                <svg width="16" height="16" class="octicon octicon-mortar-board" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8.11 2.8a.34.34 0 00-.2 0L.27 5.18a.35.35 0 000 .67L2 6.4v1.77c-.3.17-.5.5-.5.86 0 .19.05.36.14.5-.08.14-.14.31-.14.5v2.58c0 .55 2 .55 2 0v-2.58c0-.19-.05-.36-.14-.5.08-.14.14-.31.14-.5 0-.38-.2-.69-.5-.86V6.72l4.89 1.53c.06.02.14.02.2 0l7.64-2.38a.35.35 0 000-.67L8.1 2.81l.01-.01zM4 8l3.83 1.19h-.02c.13.03.25.03.36 0L12 8v2.5c0 1-1.8 1.5-4 1.5s-4-.5-4-1.5V8zm3.02-2.5c0 .28.45.5 1 .5s1-.22 1-.5-.45-.5-1-.5-1 .22-1 .5z"></path></svg>
                {{else}}{{#isPropEqual this 'tag' 'Volunteer'}}
                <svg width="12" height="16" class="octicon octicon-heart" viewBox="0 0 12 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M9 2c-.97 0-1.69.42-2.2 1-.51.58-.78.92-.8 1-.02-.08-.28-.42-.8-1-.52-.58-1.17-1-2.2-1-1.632.086-2.954 1.333-3 3 0 .52.09 1.52.67 2.67C1.25 8.82 3.01 10.61 6 13c2.98-2.39 4.77-4.17 5.34-5.33C11.91 6.51 12 5.5 12 5c-.047-1.69-1.342-2.913-3-3z"></path></svg>
                {{else}}
                {{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}
              </span>
              <div class="d-flex flex-justify-between flex-items-baseline mb-3">
                <h4 class="text-normal text-gray lh-condensed my-0 pr-3">
                  {{#isPropEqual this 'tag' 'Work'}}
                  {{#if org}}Joined {{org}}{{else}}Started 1 job{{/if}}
                  {{else}}{{#isPropEqual this 'tag' 'Award'}}
                  Earned 1 award
                  {{else}}{{#isPropEqual this 'tag' 'Project'}}
                  Started 1 project
                  {{else}}{{#isPropEqual this 'tag' 'Education'}}
                  Finished 1 degree {{#if org}} at {{org}}{{/if}}
                  {{else}}{{#isPropEqual this 'tag' 'Volunteer'}}
                  Volunteered
                  {{else}}
                  {{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}{{/isPropEqual}}
                </h4>
              </div>
              {{#if highlights}}
              <div class="profile-timeline-card bg-white border border-gray-dark rounded-1 p-3">
                <svg class="octicon octicon-git-merge merged d-inline-block mt-1 float-left" title="Merged" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M10 7c-.73 0-1.38.41-1.73 1.02V8C7.22 7.98 6 7.64 5.14 6.98c-.75-.58-1.5-1.61-1.89-2.44A1.993 1.993 0 002 .99C.89.99 0 1.89 0 3a2 2 0 001 1.72v6.56c-.59.35-1 .99-1 1.72 0 1.11.89 2 2 2a1.993 1.993 0 001-3.72V7.67c.67.7 1.44 1.27 2.3 1.69.86.42 2.03.63 2.97.64v-.02c.36.61 1 1.02 1.73 1.02 1.11 0 2-.89 2-2 0-1.11-.89-2-2-2zm-6.8 6c0 .66-.55 1.2-1.2 1.2-.65 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm8 6c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                <div class="ml-4">
                  <h3 class="lh-condensed my-0">
                    <a class="text-gray-dark " href="{{url}}">{{name}}</a>
                  </h3>

                    <div class="text-gray mb-0 mt-2 ">
                      <p>{{summary}}</p>
                    </div>

                  <div class="f6 text-gray mt-2">
                    {{#each highlights}}
                    <p>
                      <span class="repo-language-color" style="background-color: {{randomColor}}"></span>
                      <small class="f6 text-gray">{{this}}</small>
                    </p>
                    {{/each}}
                  </div>
                </div>
              </div>
              {{else}}
              <ul class="profile-rollup-content mt-1">
                <li class="d-block mt-1 py-1">
                  <span class="css-truncate css-truncate-target{{#if summary}} tooltipped tooltipped-se  tooltipped-multiline{{/if}}"{{#if summary}} aria-label="{{summary}}"{{/if}}>
                    <span class="profile-rollup-icon">
                      <span class="repo-language-color" style="background-color: {{#if color}}{{color}}{{else}}{{randomColor}}{{/if}}"></span>
                    </span>
                    <a class="mr-2 " href="{{url}}">{{name}}</a>
                  </span>
                  <span class="f6 text-gray d-block mt-1 d-lg-inline mt-lg-0">
                  </span>
                </li>
              </ul>
              {{/if}}
            </div>
            {{/each}}
          </div>
        {{/experiencesByMonth}}
      </div>
    </div>

    <footer class="footer container-xl width-full p-responsive">
      <div class="position-relative pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
        <p class="mb-2">
          Inspired by <a href="https://twitter.com/nataliemarleny">@nataliemarleny</a>. Built by <a href="github.com/sponsors/mathieudutour">@mathieudutour</a> using <a href="https://primer.style/css/">Primer</a> and <a href="https://jsonresume.org/">JSON Resume</a>.
        </p>
        <p class="mb-2">
          Create your own portfolio with <a href="https://github.com/mathieudutour/jsonresume-theme-github">JSON Resume GitHub theme</a>.
        </p>
      </div>
      <div class="d-flex flex-justify-center pb-6"></div>
    </footer>

	</body>
</html>
